.buttonGetStarted1 {
  padding: 0.9% 2.06%;
  width: auto;
  height: auto;
  background-color: var(--buttonBg);
  box-shadow: var(--buttonShadow);
  border-radius: 50px;
  font: var(--buttonFont);
  color: var(--iconColor);
}

.buttonGetStarted1:hover {
  background-color: var(--hoverButton);
}

.buttonGetStarted2 {
  padding: 0.9% 2.06%;
  width: auto;
  height: auto;
  background-color: var(--buttonBg);
  box-shadow: var(--buttonShadow-2);
  border-radius: 50px;
  font: var(--buttonFont);
  color: var(--iconColor);
}

.buttonGetStarted2:hover {
  background-color: var(--hoverButton);
}

.buttonGetStarted3 {
  padding: 0.9% 2.06%;
  width: auto;
  height: auto;
  background-color: var(--iconColor);
  box-shadow: var(--buttonShadow-3);
  border-radius: 50px;
  font: var(--buttonFont);
  color: var(--bannerBottomColor);
}

.buttonGetStarted3:hover {
  color: var(--hoverButton);
}

.btn-description {
  background-color: var(--chartBg);
  color: var(--iconColor);
  font: var(--btnDesc);
  border-radius: 30px;
  padding: 10px 25px;
}


.btn-send {
  border: none;
  background-color: var(--chartBg);
  color: var(--iconColor);
  border-radius: 30px;
  padding: 10px 25px;
  font: 500 0.824rem/1.204rem (--fontBase);
}

.btn-send:hover {
  background-color: var(--hoverButton);
}


@media only screen and (max-width: 912px) {
  .buttonGetStarted1 {
    display: none;
  }
}