footer {
  background-color: var(--footerBg);
}

.bannerBottom {
  background-color: var(--bannerBottomColor);
  margin-block-start: 11.85%;
  height: 31.4vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.bannerBottom h2 {
  font: var(--headline5);
  color: var(--iconColor);
  width: 36vw;
}

.footeerNav {
  background-color: var(--footerBg);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 34.6vh;
}

.left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: inherit;
  align-content: center;
  justify-content: space-evenly;
}

.left ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.left ul li a i {
  color: var(--iconColor);
}

.left ul li a i:hover {
  color: var(--bannerBottomColor);
}

.center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 19vw;
  justify-content: space-between;
}

.center ul li a {
  color: var(--iconColor);
  font: var(-footerNav);
}

.center ul li a:hover {
  color: var(--bannerBottomColor);
}

.center ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 19vh;
}

ul.ul2 {
  justify-content: space-evenly;
  padding: 0 0 11%;
}

form {
  position: relative;
  bottom: 20%;
}

input {
  border-radius: 50px;
  border: none;
  padding: 10px;
}

input::placeholder {
  color: var(--placeHolder);
  font: 600 0.824rem/1.204rem (--fontBase);
}

button {
  margin-inline-start: 9px;
}

.copyR {
  color: var(--copyrightColor);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-block-start: 15%;
  display: none;
}

.noneDesk {
  color: var(--copyrightColor);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-block-start: 15%;
}


@media only screen and (max-width: 1150px) {
  footer{
    height: 50vh;
  }
  .footeerNav{
    height: 40.6vh;
  }
}
@media only screen and (max-width: 912px) {
  .bannerBottom {
    height: 50vh;
    flex-direction: column;
    align-content: center;
  }

  .bannerBottom h2 {
    font: var(--headline5);
    color: var(--iconColor);
    width: auto;
    text-align: center;
  }

  .footeerNav {
    display: flex;
    height: 80vh;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
  }

  form {
    bottom: 0;
  }

  .left {
    flex: 0;
    flex-direction: column-reverse;
    align-content: center;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .left ul {
    margin-block-end: 15%;
  }

  .center {
    display: flex;
    flex-direction: row;
    width: 66%;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .iconsSocial ul li {
    margin: 0 10px;
    font-size: 1.5rem;
  }

  .copyR {
    justify-content: center;
    display: flex;
    margin-block-start: 0;
    background-color: var(--footerBg);
  }
  .noneDesk{
    display: none;
  }
}