.product-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10.2vw;
  margin-block-start: 18.09vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.container h2 {
  color: var(--subtitleColor);
}

.container .subParagraph {
  font: 500 1rem/1.511rem var(--fontBase);
  color: var(--textColor);
  width: 18vw;
  min-width: 337px;
  margin-block-start: 38px;
}

.container h4 {
  color: var(--featuresTitleColor);
  font: 700 1rem/1.461rem var(--fontBase);
  margin-left: 24px;
}

.descParr {
  color: var(--featuresSubColor);
  width: 437px;
  margin-block-start: 18px;
  margin-inline-start: 93px;
}

.description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  margin-block-start: 42px;
}

.m-0 {
  margin-block-start: 0;
}

.number-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

@media only screen and (max-width: 912px) {
  .product-description {
    flex-direction: column;
    align-items: center;
    gap: 7.2vw;
    flex-wrap: wrap;
  }

  .desContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }

  .description {
    flex-direction: column;
  }

  .descParr {
    color: var(--featuresSubColor);
    width: auto;
    margin-block-start: 5px;
    margin-inline-start: 0;
    font-size: 14px;
  }

  .number-container {
    border-radius: 50px 0 0 50px;
    background-color: #fff0eb;
    width: auto;
  }

  .container h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
  }

  .container .subParagraph {
    color: var(--featuresSubColor);
    min-width: 300px;
    text-align: center;
    font-size: 0.95rem;
  }

  .container h4 {
    font: 700 15px/1.461rem var(--fontBase);
    margin-left: 6px;
  }
}

@media only screen and (max-width: 360px) {
  .descParr {
    font-size: 14px;
  }

  .product-description {
    flex-wrap: nowrap;
  }
}