@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --fontBase: 'Be Vietnam Pro', sans-serif;
  --navColor: #242E52;
  --titleColor: #232C50;
  --subtitleColor: #232851;
  --textColor: #000000;
  --buttonBg: #F3603B;
  --chartBg: #F3603C;
  --featuresTitleColor: #323851;
  --featuresSubColor: #B3B2B7;
  --testimonialsTitleColor: #242E53;
  --testimonialsSubColor: #B9B9C1;
  --bannerBottomColor: #F3613C;
  --footerBg: #1E1E26;
  --copyrightColor: #8C8C94;
  --iconColor: #FFFFFF;
  --buttonShadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
  --headline1: bold 3.625rem/4.154rem var(--fontBase);
  --headline2: bold 2.25rem/2.579rem var(--fontBase);
  --headline3: bold 1rem/1.461rem var(--fontBase);
  --headline4: bold 2.451rem/3.838rem var(--fontBase);
  --headline5: bold 2.5rem/2.99rem var(--fontBase);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}