.testimonials {
  margin-block-start: 132.5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonials h2 {
  font: var(--headline4);
  text-align: center;
  color: var(--testimonialsTitleColor);
}

.testimonial-cards {
  display: flex;
  flex-direction: row;
  margin-block-start: 6.58%;
}

.testimonials h4 {
  color: var(--testimonialNameColor);
  font: var(--testimonialName);
  padding-block-start: 6.1vh;
}

.testimonials p {
  color: var(--testimonialsSubColor);
  line-height: 1.566rem;
  padding: 0 1rem 1.5rem;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 100%;
  margin: 0 2px
}

.cardContainer img {
  z-index: 2;
  position: relative;
  top: 35px;
}

.card {
  background-color: var(--cardBg);
  text-align: center;
}



.btn-testimonial {
  text-align: center;
  margin-block-start: 45px;
}


@media only screen and (max-width: 912px) {
  .none {
    display: none;
  }
}