.wrapper {
  max-inline-size: 1158px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  margin: auto;
}


@media only screen and (max-width: 360px) {
  .wrapper {
    padding: 12px;
    overflow: hidden;
  }
}